#============================================================================
# Daniel J. Greenhoe
# gitignore file
#============================================================================
*.jpg
*.aux
*.csv
*.obj
*.exe
*.tds
*.ilg
*.ind
*.idx
*.eps
*.pdf
*.gif
*.js
*.prn
*.tmp
*.ctx
*.log
*.out
*.jpeg
*.png
*.xlg
*.dat
*.tec
*.bbl
*.bbg
*.xdv
*.zip
.gitignore
tmp.*
main.*
mainx.*
**/makefile*
**/*.wav
*.???~
**/symseq/graphics/*.dat
**/big5/*
**/chinese/*
**/fasta/*
**deprecated/*
**/english/*
**/engk6/*
**/168books/*
**/2006wavr/*
**/2008approx/*
**/2010bsd/*
**/2011zht2zhs/*
**/2014flat/*
**/2014plat/*
**/2014punity/*
**/2014sto/*
**/2014td/*
**/2015larc/*
**/2015pds/*
**/2015ssp/*
**/2016abcssp/*
**/2016apcssp/*
**/2016jj/*
**/2016nil/*
**/A289358/*
**/A290826/*
**/abcstat/*
**/address/*
**/ap/*
**/apple/*
**/applications/*
**/applications_old/*
**/archive/*
**/ascii-uipa/*
**/asp/*
**/bingo/*
**/bsplines/*
**/clothing/*
**/common_old/*
**/compling/*
**/cp/*
**/dcsd/*
**/deprecated/*
**/discuss/*
**/dsp/*
**/dspp/*
**/doc/*
**/e1/*
**/ec/*
**/elife/*
**/elife1/*
**/elife2/*
**/elifeBig/*
**/elifee/*
**/envelopes/*
**/eps/*
**/esci/*
**/estimation/*
**/estory/*
**/flash/*
**/flashz/*
**/frames/*
**/harmonic/*
**/hasse/*
**/hchs1/*
**/hhce/*
**/insurance/*
**/k2015sni/*
**/keng/*
**/kkdraw/*
**/lamb/*
**/ldA3/*
**/ling/*
**/lmc/*
**/logo/*
**/makefile/*
**/mflash/*
**/nil/*
**/opseq/*
**/pdf/*
**/pdfg/*
**/photos/*
**/posts/*
**/records/*
**/resumes/*
**/school/*
**/seatnum/*
**/sunday/*
**/test/*
**/tmp/*
**/tmp*/*
**/tract/*
**/transcripts/*
**/trigsys/*
**/unihan/*
**/vr/*
**/writing/*
**/xpsd/*
**/xsams/*
**/xsro/*
**/xwsd/*
**/zdhs*/*
**/zsounds/*
**/trash/*
**/save/*
